:root{--color1:#33cc66;--color2:#2f3538;--color3:#fff;--hover-color:#FFA000;--headings-color:#4f5d75;--main-font:'Montserrat', sans-serif;
}
body{
    font-family: var(--main-font);

}
#home{
    background: url(../imgs/home.png);
    min-height: 100vh;
    background-size: cover;
}
nav {
    position: absolute;
    left: 0;
    height: 100%;
    background: rgba(0,0,0,0.1);
    width: 74px;
    z-index: 999;
}

header {
    position: absolute;
    width: 100%;
}

header h1 {
    float: right;
    padding: 23px 30px;
}

header h1 img {
    width: 89px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 10px;
    right: 30px;
}

div#slide {
    float: right;
    font-weight: bold;
    font-size: 22px;
    position: relative;
    width: 64px;
    margin-bottom: 33px;
}
.slogan {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 36%;
    left: 0;
    text-shadow: 2px 3px 16px #afafafe8;
}

.slogan>div:first-of-type {color: var(--color1);font-size: 57px;margin-bottom: 6px;letter-spacing: 5px;}
.slogan>div:last-of-type {color: #fff;font-size: 72px;font-weight: bold;}
nav li {
    list-style: none;
    margin: 30px 10px;
    margin-top: 38px;
}

nav li a {
    text-orientation: sideways;
    writing-mode: vertical-lr;
    color: #3d3d3d;
    font-size: 12px;
    font-weight: 600;
    text-shadow: 0px 0px 7px #484848e8;
}
nav li a.active{color:#fff}

nav ul {
    transform: rotate(180deg);
    padding-bottom: 0px;
    padding-right: 20px;
    float: left;
    margin-top: 0;
    margin-bottom: 0;
}
#signUp .title {
    color: #fff;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 5px;
    font-size: 10px;
}

#signUp .icon {
    width: 100%;
    float: left;
    text-align: center;
    padding-top: 14px;
}

div#signUp {
    float: left;
    width: 100%;
    height: 68px;
    background: var(--color1);
    border-bottom: 1px solid #fff;
}
div#slide:after {
    font-size: 20px;
    content: "___ ___ _";
    position: absolute;
    width: 120px;
    right: -32px;
    top: 13px;
    color: var(--color1);
}
div#signUp .icon img {
    width: 29px;
}

div#contactUs {
    float: left;
    width: 100%;
    text-align: center;
    height: 71px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding-top: 26px;
}

div#contactUs img {
    width: 27px;
}
.page{display: none;min-height: 100vh;}
#home{display: block}
.aff{background:url(../imgs/aff.png);background-size: cover;background-position: center;}
.cont-box {
    margin-top: 241px;
    width: 77%;
    border-top: 3px solid var(--color1);
    background: rgba(255,255,255,.8);
    margin-left: 12px;
    padding: 60px 30px;
    float: left;
    height: auto;
}

.cont-box .icon img {
    width: 75px;
}

.cont-box .icon {
    float: left;
    height: 170px;
}

.cont-box h2.title {
    float: left;
    font-size: 18px;
    margin-left: 28px;
    margin-top: 12px;
    word-spacing: 1px;
    margin-bottom: 24px;
}

.cont-box p {
    float: left;
    width: calc(100% - 75px);
    padding-left: 29px;
    font-size: 12px;
    margin-top: 0;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
}